<div class="footer-layout">
  <div class="content">
    <div class="container">
      <section class="block">
        <span class="info">
          <span>TEL: ＋886-968-583-768</span>
          <span>TAX ID: 50952670</span>
          <span>E-mail: <a href="mailto:fxlconsulting@gmail.com" style="color: #ffff">fxlconsulting@gmail.com</a></span>
        </span>
      </section>
    </div>
  </div>
  <div class="copy">
    <div class="container">
      <span>
        <span>
            ©2019 FXL INTERNATIONAL CONSULTING
        </span>
        <span>
            福軒萊國際管理顧問有限公司
        </span>
      </span>
    </div>
  </div>
</div>
