<div class="header-layout">
  <div class="header-logo">
    <img src="assets/images/logo.png" width="237px">
  </div>
  <div>
    <!-- <select (change)="selected($event)">
      <option value="zh">中文</option>
      <option value="en">英文</option>
    </select> -->
    <!--<button mat-button [matMenuTriggerFor]="menu">語系</button>-->
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let lang of langList" [value]="lang.value" (click)="selected(lang)">{{ lang.title }}</button>
    </mat-menu>
  </div>
  <!-- <ul class="header-menu">
    <li *ngFor="let item of menu">{{ item.name }}</li>
  </ul> -->
</div>
