<div class="header-layout">
  <div class="header-logo">
    <img src="assets/images/logo.png" width="237px">
  </div>
  <div>
    <!-- <select (change)="selected($event)">
      <option value="zh">中文</option>
      <option value="en">英文</option>
    </select> -->
    <ul class="header-menu">
    <li *ngFor="let item of menulist">
      <!-- <span class="outline" *ngIf="item.url" [routerLink]="['/', item.url]">{{ item.name }}</span> -->
      <span class="outline" [matMenuTriggerFor]="menu">{{ item.name }}</span>
    </li>
    </ul>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let lang of langList" [value]="lang.value" (click)="selected(lang)">{{ lang.title }}</button>
    </mat-menu>
  </div>

</div>
